
<div class="container ">
  <div class="row">
    <div class="col-lg-5 ms-5 ">
      <app-child (msgChanged)="dataRecieved($event)"></app-child>
     
      </div>
      <div class="col-lg-5 mt-3 bg-warning p-2">
       
      <h4>  Student Information: </h4>
       <!-- <ul *ngFor=" let student of studentArray">
        <li >{{ student.name }}</li>
        <li >{{ student.address }}</li>
        <li >{{ student.no }}</li>
       </ul> -->
       <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Srno</th>
            <th>Name</th>
            <th>Address</th>
            <th>Enr.no</th>
          </tr>
        </thead>
        <tbody class="text-dark">
          <tr *ngFor="let student of studentArray, let i=index">
            <td>{{i+1}}</td>
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.no}}</td>
          </tr>
        </tbody>
       </table>
      </div>
  </div>
</div>